body {
    font-family: 'Roboto', sans-serif;
    /* background-color: #B4FFD6; */
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 80px;
}

.navbar-brand {
    margin-top: 6px;
}

.logo {
    margin-top: -10px;
}

a {
    color:gray;
}

a:hover {
    text-decoration: none;
    color: black;
}

.createAccount {
    color:#F91111;
}

.card {
    border: none;
}

body {
    background-color: white;
}

/* login page */

.my-modal
{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.4);
    
}

.my-modal-content
{
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    align-items: center;
}

@media only screen and (min-width: 1200px) {
    .my-modal-content
    {
        width: 10%;
    }
}


.closetag
{
  float: right;
  font-size: 28px;
  font-weight: bold;
  color:#aaa;
}

.closetag:hover,
.closetag:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}




